.container {
    height: 100vh;
    background-color: var(--cor-fundo-cinza);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 420px;
    background: var(--cor-superficie);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 20px var(--sombra-preta-08);
}

.card h2 {
    margin: 0;
    font-size: 22px;
    color: var(--cor-texto-secundario-escuro);
}

.subtitulo {
    font-size: 14px;
    color: var(--cor-texto-cinza);
    margin-top: 5px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputgroup {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--cor-texto-neutro-650);
}

.input-group input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--cor-borda-cinza);
    background: var(--cor-fundo-login);
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: var(--cor-principal);
    background: var(--cor-superficie);
}

.btn {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--cor-principal), var(--cor-azul-claro));
    color: var(--cor-superficie);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.seeelect{
    height: 46px;
    border-radius: 5px;
    color: var(--cor-placeholder);
    background-color: var(--cor-fundo-input);
    border: var(--cor-borda-suave);
}