.sidebar {
    width: 280px;
    min-height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 18px 16px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.item {
    width: 100%;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 16px;
    border-radius: 10px;
    color: #475569;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    text-align: left;
    text-decoration: none;
}

.item:hover {
    background-color: #eef3ff;
    color: #2563eb;
}

.active {
    background-color: #dde5fb;
    color: #2563eb;
}

.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.botaoAdicionar {
    margin-top: auto;
    background-color: #3867eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 13px 18px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* HAMBURGUER */
.hamburger {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1001;
    font-size: 24px;
    background: #3867eb;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    display: none;
}

/* BOTÃO FECHAR */
.close {
    background: none;
    border: none;
    font-size: 22px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* MOBILE */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        padding: 8px;
        /* margin-bottom: -10px; */
        margin-top: -10px;
        position: absolute;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 1001;
        transition: 0.3s;
    }

    .open {
        left: 0;
    }
}

/* HAMBURGUER */
.hamburger {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1001;
    font-size: 24px;
    background: #3867eb;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    display: none;
}

/* BOTÃO FECHAR */
.close {
    background: none;
    border: none;
    font-size: 22px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* MOBILE */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        padding: 8px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 1001;
        transition: 0.3s;
    }

    .open {
        left: 0;
    }
}

